input {
  margin-bottom: 5px;
}

.container {
  margin: 0 auto;
  width: 400px;
  text-align: center;
}

.added-books-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 6px;
  border: 1px solid black;
}

#addBook-form {
  margin-top: 10px;
}
