* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

input {
  margin-bottom: 5px;
}

.container {
  margin: 0 auto;
  width: 400px;
  text-align: center;
}

.added-books-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 5px;
  border: 1px solid black;
}

#addBook-form {
  margin-top: 10px;
}

#dash {
  width: 100px;
  border: 1px solid black;
  display: none;
}

header {
  display: flex;
  justify-content: space-between;
  border: 1px solid black;
  padding: 8px;
  margin-bottom: 10px
}

.nav-links {
  list-style-type: none;
  display: flex;
  gap: 8px;
}

.nav-links li {
  padding: 0 5px;
}

.border-right {
  border-right: 1px solid black;
}

.nav-links li a {
  text-decoration: none;
  color: black;
}

footer {
  margin-top: 10px;
  border: 1px solid black;
  text-align: left !important;
  padding: 8px;
}